.container {
    width: 70%;
    height: 15vh;
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    
    div:first-child {
        display: flex;
        justify-content: flex-start;
    }
    div:first-child img {
        width: 90%;
    }
    div:last-child *div {
        height: 100px;
        padding: 0px 2px 0px 2px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    div:last-child *div:hover {
        cursor: pointer;
        border-bottom: 4px solid rgb(0, 106, 255);
    }
    div:last-child ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        li {
            text-decoration: none;
            padding: 10px;

            a {
                text-decoration: none;
                color: rgb(45, 42, 42);
            }
            a:hover {
                color: blue;
            }
        }
    }
}